<!DOCTYPE html>
<html lang="en">

<% include ./navigator.ejs %>

<!--==================================
=            DASHBOARD           =
===================================-->



<section class="dashboard section">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">

            <div class="col-md-12 offset-md-1 col-lg-12 offset-lg-0">
                <!-- Recently Favorited -->
                <div class="widget dashboard-container my-adslist">
                    <b class="widget-header"><strong>자유게시판</strong>
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                        <button type="submit" class="btn btn-main" onclick="location.href ='/create-single-dashboard'">글 작성</button>
                    </b>
                    <table class="table table-responsive product-dashboard-table">
                        <thead>
                        <tr>
                            <th class="text-center">번호</th>
                            <th class="text-center">목록</th>
                            <th class="text-center">닉네임</th>
                            <th class="text-center">댓글 수</th>
                            <th class="text-center">time</th>
                        </tr>
                        </thead>
                        <tbody>


                        <% posts.forEach(function(post){ %>
                        <tr>
                            <td class="text-center" td width=150 style="word-break:break-all"><span
                                        class="align-bottom"><%= post.idgroup_post %></span></td>
                            <td class="product-details">
                                <a class="title" href="/single-board"><strong><%= post.title %></strong></a>
                                <span class="add-id"><%= post.content %></span>
                                <span class="add-id"><strong>시간:</strong><%= post.post_time %></span>
                            </td>
                            <td class="product-category"><span class="categories"><%= post.nickname %>
								<span class="action" data-title="Action">
									<div class="">
										<ul class="list-inline justify-content-center">
											<li class="list-inline-item">
												<a data-toggle="tooltip" data-placement="top" title="Tooltip on top"
                                                   class="view" href="">
													<i class="fa fa-eye"></i>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="edit" href="">
													<i class="fa fa-pencil"></i>
												</a>
											</li>
											<li class="list-inline-item">
												<a class="delete" href="">
													<i class="fa fa-trash"></i>
												</a>
											</li>
										</ul>
									</div>
								</span>
								</span>
                            </td>
                            <td class="text-center" td width=100 style="word-break:break-all"><span
                                        class="align-bottom"><%= post.reply_cnt %></span></td>
                            <td class="product-category"><span class="add-id"><%= post.post_time %></span></td>
                        </tr>
                        <% }) %>

                        



                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<!--============================
=            Footer            =
=============================-->

<% include ./footer.ejs %>

<!-- JAVASCRIPTS -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/bootstrap/dist/js/popper.min.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="js/scripts.js"></script>

</body>

</html>
