<!DOCTYPE html>
<html lang="en">

<% include ./navigator.ejs %>

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>오늘 뭐 먹지? </h1>
					<p>지금 무엇을 먹을지 고민하시나요? <br> 여기서 그 고민을 해결하세요</p>
					<div class="short-popular-category-list text-center">
						<h2>인기 메뉴</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href=""><i class="fa fa-cutlery"></i> 한식 </a></li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-cutlery"></i> 일식 </a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-cutlery"></i> 중식 </a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-cutlery"></i> 베트남 </a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-coffee"></i> Cafe</a>
							</li>
						</ul>
					</div>
					
				</div>
				<!-- Advance Search -->
				<div class="advance-search">
					<form action="/do_search" method = "post">
						<div class="row">
							<!-- Store Search -->
							<div class="col-lg-6 col-md-12">
								<div class="block d-flex text-center">
									<input type="search" class="form-control mb-2 mr-sm-2 mb-sm-0 text-center" id="search" name = "searchword" >
									<!-- Search Button -->
									<button type="submit"  class="btn btn-main">검색</button>
								</div>

							</div>

						</div>
					</form>

				</div>
				
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>오늘의 인기 식당</h2>
					<p></p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->
			<% selected.forEach(function(item){ %>
			<div class="col-sm-12 col-lg-4">
				<!-- product card -->
<div class="product-item bg-light">
	<div class="card">
		<div class="thumb-content">
			<!-- <div class="price">$200</div> -->
			<a href="">
				<img class="card-img-top img-fluid" src="<%= item.image %>" alt="Card image cap">
			</a>
		</div>
		<div class="card-body">
		    <h4 class="card-title"><a href="/restaurant/<%= item.idrestaurant %>"><%= item.r_name %></a></h4>
		    <ul class="list-inline product-meta">
		    	<li class="list-inline-item">
		    		<a href="/Restaurant/<%= item.idrestaurant %>"><i class="fa fa-folder-open-o"></i><%= item.loc_name %></a>
		    	</li>
		    	<li class="list-inline-item">
		    		<a href="/Restaurant/<%= item.idrestaurant %>"><i class="fa fa-calendar"></i><%= item.time %></a>
		    	</li>
		    </ul>
		    <p class="card-text"><%= item.location %></p>
		    <div class="product-ratings">
		    	<ul class="list-inline">
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
		    		<li class="list-inline-item"><i class="fa fa-star"></i></li>
		    	</ul>
		    </div>
		</div>
	</div>
</div>



			</div>

	<% }) %>
	
			
		</div>
	</div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->




<% include ./footer.ejs %>



  <!-- JAVASCRIPTS -->
  <script src="plugins/jquery/jquery.min.js"></script>
  <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="plugins/tether/js/tether.min.js"></script>
  <script src="plugins/raty/jquery.raty-fa.js"></script>
  <script src="plugins/bootstrap/dist/js/popper.min.js"></script>
  <script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
  <script src="plugins/slick-carousel/slick/slick.min.js"></script>
  <script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
  <script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
  <script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
  <script src="js/scripts.js"></script>

</body>

</html>
