<!DOCTYPE html>
<html lang="en">

<% include ./navigator.ejs %>

<!--================================
=            Page Title            =
=================================-->
<section class="page-title">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Title text -->
				<h3><%=info.name%></h3>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!--==================================
=            Blog Section            =
===================================-->

<body>
	<section class="blog single-board section">
		<div class="container">
			<!-- <div class="row"> -->
			<div class="co-md-offset-1">
			</div>
			<div class=" col-md-12">
				<article class="single-post">
					<img src="<%=info.image%>" alt="article-01">

					<p><b>위치</b> : <%=info.location%> <br>
						<b>걸리는 시간</b> : <%=info.walk_time%> <br>
          <p><b>위치</b> : <%=info.location%> <br>
            <b>걸리는 시간(예상시간)</b> : 약 <%=info.walk_time%> 분 <br>
						<%if (info.time==null){ %>
						<b>영업 시간</b> : -- <br>
						<% } else { %>
						<b>영업 시간</b> : <%=info.time%> <br>
						<% } %>
						<b>분류</b> : <%=info.menu_type%><br>
						<%if (info.reservaion==0){ %>
						<b>예약 가능 여부</b> : X <br>
						<% } else {  %>
						<b>예약 가능 여부</b> : O <br>
						<% } %>
						<b>연락처</b> : <%=info.phone%><br></p>
					<table class="table">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">menu</th>
								<th scope="col">가격</th>
							</tr>
						</thead>
						<tbody>
							<%if (menu.length!=1){ %>
							<%for (var i =0; i< menu.length; i++){ %>
							<tr>
								<th scope="row"> <%=i+1%></th>
								<td> <%=menu[i].menu_name%></td>
								<td><%=menu[i].price%></td>
							</tr>
							<% } %>
							<% } %>
						</tbody>
					</table>
				</article>
			</div>
				<hr color ="black" size = "2">
			<div class="col-md-11">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Hashtag</th>
							<th scope="col">Review</th>
							<th scope="col">Star</th>
						</tr>
					</thead>
					<tbody>
						<%if (review.length!=1){ %>
						<%for (var j =0; j< review.length; j++){ %>
						<tr>
							<th scope="row"> <%=j+1%></th>
							<td> 
								<% review[j].hashtag.forEach(function(item){ %>
									<%=item.content%>
								<% }) %>
							</td>
							<td><%=review[j].review%></td>
							<td> <%if (review[j].star!=0){ %>
								<%for(var k=0; k<review[j].star; k++){%>
								★
								<% } %>
								<% } %>
								<% if(5-review[j].star!=0){%>
								<%for(var p=0; p<(5-review[j].star); p++){%>
								☆
								<% } %>
								<%}%></td>
						</tr>
						<% } %>
						<% } %>
					</tbody>
				</table>

				<!--review입력-->
				<h2>리뷰를 입력해주세요</h2>
				<hr>
				<div class="import review">
	<form action="/restaurant/<%= info.idrestaurant %> "method="POST">
							<label for="content">해시태그</label>
								<input type="text" class="form-control" id="content" name="content">
								<label for="content">리뷰</label>
									<input type="text" class="form-control" id="review" name="review">
									<label for="content">별점</label>
										<input type="text" class="form-control" id="star" name="star">
						<button class="btn btn-danger">작성</button>
					</form>
				</div>
	</div>


			<!-- </div> -->


	</section>

	<!--============================
																=            Footer            =
																=============================-->
	<% include ./footer.ejs %>

	<!-- JAVASCRIPTS -->
	<script src="/plugins/jquery/jquery.min.js"></script>
	<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="/plugins/tether/js/tether.min.js"></script>
	<script src="/plugins/raty/jquery.raty-fa.js"></script>
	<script src="/plugins/bootstrap/dist/js/popper.min.js"></script>
	<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
	<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
	<script src="/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
	<script src="/plugins/fancybox/jquery.fancybox.pack.js"></script>
	<script src="/plugins/smoothscroll/SmoothScroll.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
	<script src="/js/scripts.js"></script>



</body>

</html>
