<% include ./navigator.ejs %>

<!--=================================
=            Single Blog            =
==================================-->
<section class="blog single-board section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-12 offset-lg-0">
				<article class="single-post">
					<b><strong><%= posts[0].title %></strong></b>
					<ul class="list-inline">
						<li class="list-inline-item">by <a href=""> <%= post_user[0].nickname %></a></li>
						<li class="list-inline-item"> <%= posts[0].post_time %></li>
					</ul>
					<p><strong><%= posts[0].content%></strong></p>
					<ul class="social-circle-icons list-inline">
						<li class="list-inline-item text-center"><a class="fa fa-facebook" href=""></a></li>
						<li class="list-inline-item text-center"><a class="fa fa-twitter" href=""></a></li>
						<li class="list-inline-item text-center"><a class="fa fa-google-plus" href=""></a></li>
						<li class="list-inline-item text-center"><a class="fa fa-pinterest-p" href=""></a></li>
						<li class="list-inline-item text-center"><a class="fa fa-linkedin" href=""></a></li>
					</ul>
				</article>

				<div class="block comment">
					<table class="table table-responsive product-dashboard-table">
						<thead>
						<tr>
							<th class="text-center" td width=330 style="word-break:break-all">댓글</th>
							<th class="text-center" td width=200 >닉네임</th>
							<th class="text-center" td width=250 style="word-break:break-all">time</th>
						</tr>
						</thead>
						<tbody>

						<% reply_user.forEach(function(reply_user){ %>
							<tr>
								<td class="text-center"><%= reply_user.content %></td>
								<td class="text-center"><span class="categories"><%= reply_user.nickname%></span></td>
								<td class="text-center"><span class="add-id"><%= reply_user.reply_time%></span></td>
							</tr>

						<% }) %>

						</tbody>
					</table>
				</div>

				<div class="block comment">
					<b>댓글 쓰기</b>
					<form action="/single-board/<%= posts[0].idgroup_post %>" method="POST">
						<!-- Message -->
						<div class="form-group mb-30">
							<label for="content">내용</label>
							<input type="text" class="form-control" id="content" name="content">
						</div>

						<button class="btn btn-transparent">작성 완료</button>
					</form>
				</div>
			</div>

		</div>
	</div>
</section>

<!--============================
=            Footer            =
=============================-->
<% include ./footer.ejs %>


<!-- JAVASCRIPTS -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="plugins/tether/js/tether.min.js"></script>
<script src="plugins/raty/jquery.raty-fa.js"></script>
<script src="plugins/bootstrap/dist/js/popper.min.js"></script>
<script src="plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="plugins/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="plugins/slick-carousel/slick/slick.min.js"></script>
<script src="plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.pack.js"></script>
<script src="plugins/smoothscroll/SmoothScroll.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="js/scripts.js"></script>

</body>

</html>

